.btn {
  width: 223px;
  height: 56px;
  padding: 16px 32px;

}

.promo-btn {
  background: #385975;
  box-shadow: 0px 10px 20px rgba(56, 89, 117, 0.5);
  border-radius: 30px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 220px;
}