.header {
  padding-top: 32px;
}

.menu__list {
  list-style: none;
  display: flex;
}

.menu__list-item {
  margin-right: 110px;
}

.menu__item-link {
  text-decoration: none;
  color: #385975;
  font-size: 16px;
  text-transform: uppercase;
}

.header-social {
  position: absolute;
  top: 0;
  margin-top: 32px;
  right: 22px;
  width: 294px;
  height: 55px;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0px 10px 20px rgba(56, 89, 117, 0.5);
  border-radius: 30px 0px 0px 30px;
}

.header__list {
  list-style: none;
  display: flex;
  margin-left: 40px;
  gap: 53px;
  align-items: center;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}