<section class="expertise">
    <div class="container">
        <h3 class="expertise-title">Экспертиза</h3>
        <div class="expertise-wrapper">
            <div class="expertise__left-block">
                <div class="expertise__content">
                    <h4 class="expertise__caption">Одностраничник</h4>
                    <p class="expertise__desc">
                        это особый тип сайтов, оптимизированных
                        для побуждения к действию интернет-пользователя
                    </p>
                    <div class="expertise-price-wrapper">
                        <div class="expertise__price">
                            <p class="expertise__price-text">Стоимость</p>
                            <p class="expertise__price-time">Время на дизайн</p>
                        </div>
                        <div class="expertise__sum">
                            <p class="expertise__sum-usd">от 300$</p>
                            <p class="expertise__sum-day">от 3-х дней</p>
                        </div>
                    </div>
                </div>
                <div class="expertise__content">
                    <h4 class="expertise__caption">Web-приложение</h4>
                    <p class="expertise__desc">
                        многофункциональный сайт, который поможет
                        решить проблемы пользователей
                    </p>
                    <div class="expertise-price-wrapper">
                        <div class="expertise__price">
                            <p class="expertise__price-text">Стоимость</p>
                            <p class="expertise__price-time">Время на дизайн</p>
                        </div>
                        <div class="expertise__sum">
                            <p class="expertise__sum-usd">от 1000$</p>
                            <p class="expertise__sum-day">от 7-ми дней</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="expertise__right-block">
                <div class="expertise__content">
                    <h4 class="expertise__caption">Корпоративный сайт</h4>
                    <p class="expertise__desc">
                        это полноценная презентация информации о компании в сети Интернет
                    </p>
                    <div class="expertise-price-wrapper">
                        <div class="expertise__price">
                            <p class="expertise__price-text">Стоимость</p>
                            <p class="expertise__price-time">Время на дизайн</p>
                        </div>
                        <div class="expertise__sum">
                            <p class="expertise__sum-usd">от 500$</p>
                            <p class="expertise__sum-day">от 5-ти дней</p>
                        </div>
                    </div>
                </div>
                <div class="expertise__content">
                    <h4 class="expertise__caption">Мобильное приложение</h4>
                    <p class="expertise__desc">
                        Приложение, сделанное четко под требования Apple и Google
                    </p>
                    <div class="expertise-price-wrapper">
                        <div class="expertise__price">
                            <p class="expertise__price-text">Стоимость</p>
                            <p class="expertise__price-time">Время на дизайн</p>
                        </div>
                        <div class="expertise__sum">
                            <p class="expertise__sum-usd">от 1300$</p>
                            <p class="expertise__sum-day">от 10-ти дней</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>