<section class="header">
    <div class="container">
        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__list-item">
                    <a href="#" class="menu__item-link">Экспертиза</a>
                </li>
                <li class="menu__list-item">
                    <a href="#" class="menu__item-link">Этапы работы</a>
                </li>
                <li class="menu__list-item">
                    <a href="#" class="menu__item-link">Кейсы</a>
                </li>
            </ul>
        </nav>
        <div class="header-social">
            <ul class="header__list">
                <li class="header__list-item">
                    <a href="#" class="header__item-link">
                        <img src="images/instagram.svg" alt="icon instagram">
                    </a>
                </li>
                <li class="header__list-item">
                    <a href="#">
                        <img src="images/be.svg" alt="icon be">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>