<section class="keyboard">
    <!--<div class="container">-->
        <div class="keyboard-wrapper">
            <img class="keyboard-img" src="./images/keyboard.png" alt="picture keyboard">
            <div class="keyboard-content">
                <img class="keyboard-etc-img" src="./images/etc.png" alt="etc. images">
                <p class="keyboard-desc">
                    многофункциональный сайт,
                    который поможет решить проблемы пользователей
                </p>
                <p class="keyboard-text">
                    многофункциональный сайт,
                    который поможет решить проблемы пользователей
                </p>
                <a href="#" class="btn btn--white">Написать мне</a>
            </div>
        </div>
    <!--</div>-->
</section>