<section class="promo">
    <div class="container">
        <div class="promo-wrapper">
            <div class="promo-left">
                <h2 class="promo-title">Привет</h2>
                <p class="promo-desc">Я - НатаШа Фурсик - фрилансер со специлизацией Web-дизайн.</p>
                <p class="promo-text">
                    Помогаю компаниям создавать
                    продающий дизайн сайтов и приложений.
                </p>
                <a class="btn promo-btn" href="#">Написать мне</a>
                <p class="promo-slogan">Хороший дизайн виден сразу, а отличный  дизайн незаметен</p>
                <img class="promo-photo-main" src="images/promo-photo.png" alt="photo main">
            </div>
            <div class="promo-right">
                <img class="promo-right__img" src="images/promo-right.jpg" alt="photo jeans">
            </div>
        </div>
    </div>
</section>