<section class="step">
    <div class="conrainer">
        <h2 class="step-title">этапы разработки работающего дизайна</h2>
        <div class="step-wrapper">
            <div class="step__left-block">
                <h3 class="step-subtitle">Исследование</h3>
                <p class="step-desc">
                    Изучение сайтов конкурентов для определения лучших
                    практик и детальная проработка целевой аудитории
                </p>
                <h3 class="step-subtitle under">Разработка дизайна</h3>
                <p class="step-desc">
                    Реализация макетов для мобильной, планшетной и веб-версий сайта
                </p>
            </div>
            <div class="step__center-block">
                <h3 class="step-subtitle">Прототипирование</h3>
                <p class="step-desc">
                    Создание черно-белой первой версии сайта для
                    согласования с заказчиком и внесения правок
                </p>
                <h3 class="step-subtitle under">Запуск</h3>
                <p class="step-desc">
                    Сопровождение разработчиков Клиента при верстке сайта
                </p>
            </div>
            <div class="step__right-block">
                <h3 class="step-subtitle">Работа с копирайтером</h3>
                <p class="step-desc">
                    Составление текстов для сайта с Вашим или моим копирайтером
                </p>
                <h3 class="step-subtitle under">Улучшение</h3>
                <p class="step-desc">
                    Внесение изменений в дизайн для увеличения конверсий
                </p>
            </div>
        </div>
    </div>
</section>