<section class="work">
    <div class="container">
        <h2 class="work-title">Работы</h2>
        <div class="work-wrapper">
            <img src="./images/work-itFest.png" alt="photo site" class="work__fest-img">
            <div class="work__right-wrapper">
                <h3 class="work__right-title">IT FEST</h3>
                <h4 class="work__subtitle">Landing page (Одностраничник)</h4>
                <p class="work__desc">
                    Сайт для проведения конференций для новичков по IT-тематике.
                    Выполнен за 3 ночи.
                </p>
                <p class="work__text">Зарегистрированы 6500 участников за неделю</p>
            </div>
        </div>
        <div class="work-wrapper">
            <img src="./images/work-powerkh.jpg" alt="photo site" class="work__fest-img">
            <div class="work__right-wrapper">
                <h3 class="work__right-title">IT FEST</h3>
                <h4 class="work__subtitle">Landing page (Одностраничник)</h4>
                <p class="work__desc">
                    Сайт для проведения конференций для новичков по IT-тематике.
                    Выполнен за 3 ночи.
                </p>
                <p class="work__text">Зарегистрированы 6500 участников за неделю</p>
            </div>
        </div>
        <div class="work-wrapper">
            <img src="./images/work-sports.jpg" alt="photo site" class="work__fest-img">
            <div class="work__right-wrapper">
                <h3 class="work__right-title">E-Sports</h3>
                <h4 class="work__subtitle">Web-приложение</h4>
                <p class="work__desc">
                    Приложение для фанов киберспорта, которое
                    помогает визуализировать статистику матчей и
                    составлять персональное расписание игр любимых команд.
                </p>
                <p class="work__text">
                    Благодаря разработанной дизайн-системе время на
                    разработку и внесение правок для разработчиков с
                    ократилось в 2 раза
                </p>
            </div>
        </div>
        <div class="work-wrapper">
            <img src="./images/work-kidhab.jpg" alt="photo site" class="work__fest-img">
            <div class="work__right-wrapper">
                <h3 class="work__right-title">KidHab</h3>
                <h4 class="work__subtitle">Мобильное приложение</h4>
                <p class="work__desc">
                    Мобильное приложение для формирования полезных
                    привычек у детей в геймифицированной форме.
                </p>
                <p class="work__text">
                    После редизайна конверсия возросла на 15%
                </p>
            </div>
        </div>
    </div>
</section>